<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title><%=typeof title == 'undefined' ? 'sails_01' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/vendor/angular-ui/build/angular-ui.min.css">
  <!--STYLES END-->

  <!-- THIS IS WHERE THE THEME CSS IS LOADED -->
  <link rel="stylesheet" href="/themes/<%= typeof theme == 'undefined' ? 'default' : theme %>.css">
</head>

<body>
<%- body %>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-ui/build/angular-ui.min.js"></script>
<!--SCRIPTS END-->

<!--[if lte IE 8]> <script src="vendor/angular-ui/build/angular-ui-ieshiv.js"></script><![endif]-->

</body>
</html>
